@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:"Robot", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*-- Header & Hero background--*/
header, .hero {
    background-color: #1F2937;
    color: white;
}

/* -- Header --*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 6.75rem;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}
.navbar {
    display: flex;
    gap: 0.625rem;
}

.navbar a {
    font-size: 18px;
    color: #e5e7eb;
}


/* -- Hero--*/
.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.25rem 10rem;
}

.hero-content{
    width: 31.25rem;
}

.hero-content .hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-content .hero-sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content button {
    background-color: #3882f6;
    color: white;
    border-style: none;
    border-radius: 8px;
    font-size: 18px;
    width: 7rem;
    height: 2.5rem;
    margin-top: 0.5rem;
}

.hero-img {
    background-color: gray;
    width: 31.25rem;
    height: 14rem;
}

.hero-img .img-placeholder {
    margin-top: 6.25rem;
    text-align: center;
} 

/* -- Infomartion -- */
.information-container {
    display:flex;
    flex-direction: column;
    height: 28.75rem;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 1.87rem 0 3.75rem;
}

.information-boxes {
    display: flex;
    justify-content: center;
    gap: 3.12rem;
}

.information-box-1, .information-box-2,
.information-box-3, .information-box-4 {
    width: 10rem;
}

.information-boxes p{
    margin-top: 0.5rem;
    text-align: center;
    color: rgb(119, 119, 119); 
}
.information-img-1, .information-img-2, 
.information-img-3, .information-img-4 {
    border: 3.5px solid #3882f6;
    border-radius: 8px;
    height: 9.37rem;

}

/* -- Quote Section -- */
.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center; 
    height: 28rem;
}

.quote-container{
    width: 56rem;
    margin-top: 10rem;
}

.quote-phrase{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    display:flex;
    justify-content: end;
    font-size: 18px;
    color: #1f2937;
    font-weight: 900;
}

/* -- Call to action Section */

.action {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 24rem;
}

.action-container {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    height: 9.37rem;
    width: 60%;
    gap: 9.37rem;
}

.action-container p {
    color:rgba(255, 255, 255, 0.795);
}

.action-container button {
    border: 2px solid white;
    background: none;
    border-radius: 7px;
    width: 7rem;
    height: 2rem;
    margin-top: 0.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-weight: 500;
    height: 6.25rem;
}